.notify{
  position: relative;
}

.noti-number {
  position: absolute;
  bottom: 20%;
  left: 50%;
  color: rgb(255, 0, 0);
  font-size: 18px;
  font-weight: 700;
  // border: 1px solid gainsboro;
  // border-radius: 100%;
  // background-color: rgba(187, 250, 227, 0.629);
}