body {
  background: linear-gradient(90deg, rgba(191,209,211,255)0% , rgba(198,213,216,255)10%, rgba(207,221,222,255)20%, rgba(211,222,224,255)40%, rgba(198,213,216,255)50%, rgba(187,206,210,255)70%, rgba(187,206,210,255)90%);
  // font-family: 'Source Serif Pro', serif;
  font-family: forma-djr-micro, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  max-width:100vw;
  min-height: 100vh;
  // background: rgb(196, 184, 201);
  // background-color: rgba(231, 196, 201, 0.35);
  // background-color: rgba(215, 173, 142, 0.931);
  color:rgb(0, 0, 0);
}

button{
  margin: 5px;
}

