.notify{
  position: relative;
}

.noti-number {
  position: absolute;
  bottom: 20%;
  left: 50%;
  color: rgb(255, 0, 0);
  font-size: 18px;
  font-weight: 700;
}

.noti-table{
  // position: absolute;
}